.form {
    @apply mx-auto bg-white dark:bg-darkMode dark:text-white  rounded-lg p-8
    shadow-2xl dark:shadow-slate-500 flex flex-col gap-3;
}

.signupForm {
    width: 40rem;
    max-width: 90%;
}

.loginForm {
    width: 30rem;
    max-width: 90%;
}

.createAgencyForm {
    width: 50rem;
    max-width: 100%;
}

.div_con_For_input {
    width: 15rem;
    max-width: 100%;
}

.form-div-holder {
    width: 17.5rem;
}

.aaaa {
    width: 500px;
}

@media screen and (max-width: 768px) {
    .form-div-holder {
      width: 100%;
      float: none;
    }
}
