.nav-link {
    @apply
    md:ml-5 cursor-pointer
    font-semibold hover:bg-primary text-center
    hover:text-white py-2 px-3 md:rounded w-40 md:w-full
}
.nav-button {
    @apply
    cursor-pointer
    text-primary
    dark:text-primary2
    font-semibold
    hover:bg-primary
    hover:text-white
    py-2
    px-3
    text-center
    md:rounded
    w-40
    md:w-full
    md:ml-5
}
.nav-block {
    @apply
    hidden
    absolute
    border-primary
    top-12
    right-1
    border-2 rounded
    bg-white
    md:visible
    md:bg-transparent
    md:right-0
    md:top-0
    md:w-auto
    md:flex
    md:relative
    md:border-solid
    md:border-0
    md:border-transparent
}