.agency-card {
    width: 100%;
    box-shadow: 0px 0px 4px #bbb;
    @apply
    bg-white
    dark:bg-darkMode
    block
    rounded-lg
    text-textColor
    font-open_sans;
}

.agency-card-skeleton {
    width: 100%;
    @apply
    bg-white
    dark:bg-darkMode
    block
    rounded-lg
    text-textColor
    font-open_sans;
}
.card-header {
    @apply px-2 py-2
}
.headline {
    @apply cursor-pointer text-tertiary hover:text-indigo-500 font-semibold hover:font-bold;
}

.agency-image {
    width: 100%;
    /* max-width: 320px;
    width: 320px; */
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @apply bg-slate-300 rounded-t-lg;
}
.agency-image-skeleton {
    width: 100%;
    /* max-width: 320px; */
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-section {
    @apply px-2 py-2 flex flex-col gap-1 text-xs;
}
.subhead {
    @apply font-semibold truncate text-tertiary pb-1;
}
.supporting-text {
    @apply flex items-center;
}