@tailwind base;
@tailwind components;
@tailwind utilities;


.my-header {
  background-color: red;
}

.master > .fill{
  height: auto;
}

.max-width {
  max-width: 100%;
}

.max-height {
  max-height: 100%;
}

.half-width {
  width: 50%;
}

.zero-width {
  width: 0%;
}

.content-width {
  width: fit-content;
}

.min-ht-vh {
  min-height: 100vh;
}

.hs-max-width-95 {
  max-width: 95%;
}

.hs-max-width-90 {
  max-width: 90%;
}

.hs-max-width-85 {
  max-width: 85%;
}

.hero-text-1 {
  justify-self: center;
  display: inline-block;
}

.hs-text-center {
  text-align: center;
}

.hs-text-start {
  text-align: left;
}

.hs-pb-100 {
  padding-bottom: 100px;
}

.hs-pt-80 {
  padding-top: 80px;
}

.hs-pb-80 {
  padding-bottom: 80px;
}

.hs-pt-60 {
  padding-top: 60px;
}

.hs-pt-30 {
  padding-top: 30px;
}

.hs-pt-40 {
  padding-top: 40px;
}

.hs-pb-40 {
  padding-bottom: 40px;
}

.hs-pb-60 {
  padding-bottom: 60px;
}

.hs-pb-100 {
  padding-bottom: 100px;
}

.my-mb-10 {
  margin-bottom: 10px;
}

.my-relative {
  position: relative;
}

.my-absolute {
  position: absolute;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*{
  scrollbar-width: thin;
  scrollbar-color: #0066F1;
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background: #bbb;/*grey;/*rgb(76, 70, 229);*/
  border-radius: 12px;
}

*::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 12px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
